/* DEMO PAGE STYLES */
* { margin: 0; padding: 0; font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif }

html {
  background: #f1f1f1;
}

body {
  max-width: 620px;
  margin: 80px auto;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  line-height: 1.5;
  margin-top: 40px;
  display: block;
  color: #444444;
  font-weight: 500;
}

p {
  font-size: 21px;
  display: block;
  margin-top: 10px;
  line-height: 1.5;
  color: #464646;
  opacity: 0.7;
  letter-spacing: 0px;
}

small {
  font-size: 14px;
  margin: 20px 0 10px;
  display: block;
}

.info {
  position: absolute;
  bottom: 230px;
  left: 0;
  right: 0;
}

a {
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #19a974;
  color: #19a974;
  font-weight: 500;
}

/* DATEPICKER STYLES */

.react-datepicker {
  max-width: 320px;
  background: whitesmoke;
  margin: 10px auto;
  box-shadow: 0 1px 1px #dedede;
  border-radius: 5px;
  position: relative;
  user-select: none;
}

.react-datepicker-controls {
  overflow: hidden;
  text-align: center;
  background: #464646;
  color: #fff;
}

.react-datepicker-previous,
.react-datepicker-next {
  float: left;
  background: #464646;
  border: none;
  padding: 10px 15px;
  font-size: 17px;
  color: #fff;
  outline: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.react-datepicker-next {
  float: right;
}

.react-datepicker-month {
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  font-size: 14px;
}

.react-datepicker-dates {
  overflow: hidden;
}

.react-datepicker-date {
  transition: background .2s ease;
  float: left;
  width: 14.285714286%;
  text-align: center;
  font-size: 15px;
  background: #fff;
  border: 1px solid whitesmoke;
  box-sizing: border-box;
  padding: 11px;
  cursor: pointer;
  outline: none;
}

.react-datepicker-date:hover {
  background: #f5f5f5;
}

.react-datepicker-date-disabled {
  color: #ccc;
  cursor: auto;
}

.react-datepicker-date-disabled:hover {
  background: #fff;
}

.react-datepicker-date-active {
  background: #6f6f6f;
  color: #fff;
}

.react-datepicker-date-active:hover {
  background: #6f6f6f;
  color: #fff;
}

.react-simple-datepicker-input {
  margin-top: 40px;
  padding: 20px 120px 20px 20px;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #6f6c6d;
  cursor: pointer;
}
